@import "~@angular/material/theming";

@mixin table-theme($theme) {
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $background-color: mat-color($background, card);
  $foreground: map-get($theme, foreground);

  table {
    width: 100%;
  }

  .mat-row {
    min-height: 65px;

    &.selected {
      background: mat-color($primary);
    }
  }

  .mat-checkbox-checked.mat-warn {
    .mat-checkbox-background {
      background-color: mat-color($foreground, text);
    }
  }
}
