<div class="locationReqs">
<div *ngIf="locationInTask(locationList.Misthalin)" class="locationReq" [ngClass]="locationSelected(locationList.Misthalin)"><span>Misthalin</span></div>
<div *ngIf="locationInTask(locationList.Karamja)" class="locationReq" [ngClass]="locationSelected(locationList.Karamja)"><span>Karamja</span></div>
<div *ngIf="locationInTask(locationList.Morytania)" class="locationReq" [ngClass]="locationSelected(locationList.Morytania)"><span>Morytania</span></div>
<div *ngIf="locationInTask(locationList.Desert)" class="locationReq" [ngClass]="locationSelected(locationList.Desert)"><span>Desert</span></div>
<div *ngIf="locationInTask(locationList.Wilderness)" class="locationReq" [ngClass]="locationSelected(locationList.Wilderness)"><span>Wilderness</span></div>
<div *ngIf="locationInTask(locationList.Kandarin)" class="locationReq" [ngClass]="locationSelected(locationList.Kandarin)"><span>Kandarin</span></div>
<div *ngIf="locationInTask(locationList.Fremennik)" class="locationReq" [ngClass]="locationSelected(locationList.Fremennik)"><span>Fremennik</span></div>
<div *ngIf="locationInTask(locationList.Tirannwn)" class="locationReq" [ngClass]="locationSelected(locationList.Tirannwn)"><span>Tirannwn</span></div>
<div *ngIf="locationInTask(locationList.Asgarnia)" class="locationReq" [ngClass]="locationSelected(locationList.Asgarnia)"><span>Asgarnia</span></div>
<div *ngIf="locationInTask(locationList.Zeah)" class="locationReq" [ngClass]="locationSelected(locationList.Zeah)"><span>Zeah</span></div>
<div *ngIf="locationInTask(locationList.Other)" class="locationReq" [ngClass]="locationSelected(locationList.Other)"><span>Other</span></div>

</div>