<div class="skillReqs">
<span *ngIf="skills.other">{{ skills.other }}</span>
<div *ngIf="skills.overall > 0" class="skillReq" [ngClass]="skillReq('overall')"><img src="./assets/skill-icons/overall.png" /><span>{{ skills.overall }}</span></div>
<div *ngIf="skills.attack > 0" class="skillReq" [ngClass]="skillReq('attack')"><img src="./assets/skill-icons/attack.png" /><span>{{ skills.attack }}</span></div>
<div *ngIf="skills.strength > 0" class="skillReq" [ngClass]="skillReq('strength')"><img src="./assets/skill-icons/strength.png" /><span>{{ skills.strength }}</span></div>
<div *ngIf="skills.defence > 0" class="skillReq" [ngClass]="skillReq('defence')"><img src="./assets/skill-icons/defence.png" /><span>{{ skills.defence }}</span></div>
<div *ngIf="skills.hitpoints > 0" class="skillReq" [ngClass]="skillReq('hitpoints')"><img src="./assets/skill-icons/hitpoints.png" /><span>{{ skills.hitpoints }}</span></div>
<div *ngIf="skills.ranged > 0" class="skillReq" [ngClass]="skillReq('ranged')"><img src="./assets/skill-icons/ranged.png" /><span>{{ skills.ranged }}</span></div>
<div *ngIf="skills.prayer > 0" class="skillReq" [ngClass]="skillReq('prayer')"><img src="./assets/skill-icons/prayer.png" /><span>{{ skills.prayer }}</span></div>
<div *ngIf="skills.magic > 0" class="skillReq" [ngClass]="skillReq('magic')"><img src="./assets/skill-icons/magic.png" /><span>{{ skills.magic }}</span></div>
<div *ngIf="skills.cooking > 0" class="skillReq" [ngClass]="skillReq('cooking')"><img src="./assets/skill-icons/cooking.png" /><span>{{ skills.cooking }}</span></div>
<div *ngIf="skills.woodcutting > 0" class="skillReq" [ngClass]="skillReq('woodcutting')"><img src="./assets/skill-icons/woodcutting.png" /><span>{{ skills.woodcutting }}</span></div>
<div *ngIf="skills.fletching > 0" class="skillReq" [ngClass]="skillReq('fletching')"><img src="./assets/skill-icons/fletching.png" /><span>{{ skills.fletching }}</span></div>
<div *ngIf="skills.fishing > 0" class="skillReq" [ngClass]="skillReq('fishing')"><img src="./assets/skill-icons/fishing.png" /><span>{{ skills.fishing }}</span></div>
<div *ngIf="skills.firemaking > 0" class="skillReq" [ngClass]="skillReq('firemaking')"><img src="./assets/skill-icons/firemaking.png" /><span>{{ skills.firemaking }}</span></div>
<div *ngIf="skills.crafting > 0" class="skillReq" [ngClass]="skillReq('crafting')"><img src="./assets/skill-icons/crafting.png" /><span>{{ skills.crafting }}</span></div>
<div *ngIf="skills.smithing > 0" class="skillReq" [ngClass]="skillReq('smithing')"><img src="./assets/skill-icons/smithing.png" /><span>{{ skills.smithing }}</span></div>
<div *ngIf="skills.mining > 0" class="skillReq" [ngClass]="skillReq('mining')"><img src="./assets/skill-icons/mining.png" /><span>{{ skills.mining }}</span></div>
<div *ngIf="skills.herblore > 0" class="skillReq" [ngClass]="skillReq('herblore')"><img src="./assets/skill-icons/herblore.png" /><span>{{ skills.herblore }}</span></div>
<div *ngIf="skills.agility > 0" class="skillReq" [ngClass]="skillReq('agility')"><img src="./assets/skill-icons/agility.png" /><span>{{ skills.agility }}</span></div>
<div *ngIf="skills.thieving > 0" class="skillReq" [ngClass]="skillReq('thieving')"><img src="./assets/skill-icons/thieving.png" /><span>{{ skills.thieving }}</span></div>
<div *ngIf="skills.slayer > 0" class="skillReq" [ngClass]="skillReq('slayer')"><img src="./assets/skill-icons/slayer.png" /><span>{{ skills.slayer }}</span></div>
<div *ngIf="skills.farming > 0" class="skillReq" [ngClass]="skillReq('farming')"><img src="./assets/skill-icons/farming.png" /><span>{{ skills.farming }}</span></div>
<div *ngIf="skills.runecraft > 0" class="skillReq" [ngClass]="skillReq('runecraft')"><img src="./assets/skill-icons/runecraft.png" /><span>{{ skills.runecraft }}</span></div>
<div *ngIf="skills.construction > 0" class="skillReq" [ngClass]="skillReq('construction')"><img src="./assets/skill-icons/construction.png" /><span>{{ skills.construction }}</span></div>
<div *ngIf="skills.hunter > 0" class="skillReq" [ngClass]="skillReq('hunter')"><img src="./assets/skill-icons/hunter.png" /><span>{{ skills.hunter }}</span></div>
</div>