app-task-table {
  padding: 5px;
}

app-highscores {
  padding: 5px;
  margin-left: auto;

}

.container {
  display: flex;
  flex-direction: column;
  p {
    margin: 5px;
  }
}

mat-card {
  width: max-content;
  height: min-content;
  border-style: ridge;
}

.sticky {
  position: sticky;
  z-index: 1;
  top: 0px;
  position: -webkit-sticky;
  display: flex;
}
