app-task-table {
  padding: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  p {
    margin: 5px;
  }
  width: 100%;
}

mat-card {
  width: auto;
  height: min-content;
  border-style: ridge;
}

.sticky {
  position: sticky;
  z-index: 1;
  top: 0px;
  position: -webkit-sticky;
  align-self: flex-start;
}

.right-col {
  display: flex;
  margin-left: auto;
  flex-direction: column;
  padding: 5px;
  width: 225px;
}

.page {
  display: flex;
}

app-highscores, location-selector {
  margin-top: .5rem;
}