<mat-card>
  <mat-card-title>Locations:</mat-card-title>
  <div *ngFor="let location of locations">
    <mat-checkbox #locationCheckboxes *ngIf="location !== 'Test'" (change)="toggleLocation(location.toString())" >
    {{ location }}
  </mat-checkbox>
</div>
    
    <mat-slide-toggle 
    [checked]="isLocationFilter | async"
      labelPosition="after"
      (change)="toggleLocationFilter($event.checked)"
      color="primary"
      >Filter unselected
    </mat-slide-toggle>
    <mat-slide-toggle 
    [checked]="showNullLocations | async"
      labelPosition="after"
      (change)="toggleNullLocations($event.checked)"
      color="primary"
      >Hide non-area specific
    </mat-slide-toggle>
    <p style="margin-top: 10px;">If the filters bug out, just refresh the page. Task selections are cached.</p>
    <p style="margin-top: 10px;">Sorry if the filters are slow. I'm no angular professional.</p>
</mat-card>
